<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Custom Problem #{{problem_id}}</title>
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">backprop</a>
    </nav>
    <div>
        {% if problem_id != 1 %}
            <a href="{% url 'practice' problem_id|add:-1 %}">Prev Problem</a>
        {% endif %}
            <a href="{% url 'practice' problem_id|add:1 %}">Next Problem</a>
    </div>
    <div>
        This page will contain custom problem {{problem_id}}
    </div>
</body>
</html>