<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Practice Problem #{{problem_id}}</title>
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">backprop</a>
    </nav>
    <div>
        {% if problem_id != 1 %}
            <a href="{% url 'practice' problem_id|add:-1 %}">Prev Problem</a>
        {% endif %}
        {% if problem_exists %}
            <a href="{% url 'practice' problem_id|add:1 %}">Next Problem</a>
        {% endif %}
    </div>
    {% if problem_exists %}
        <div>
            This page will contain practice problem {{problem_id}}
        </div>
    {% else %} <!-- Only if manual problem generation -->
        <div>
            Sorry, Problem {{problem_id}} has not been created
        </div>
    {% endif %}
</body>
</html>